{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row"></div>
        <br/>
        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
            <div class="col-md-10 col-xs-10 col-sm-10">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="alert alert-warning">
                            <h2>Are you sure you want to delete this note:</h2>
                            <p><b>Title:</b> {{ object.title }}</p>
                            <p><b>Content:</b> {{ object.content }}</p>
                            <p><b>Add Date:</b> {{ object.add_date }}</p>
                            <p><b>It's Done</b>: {% if object.is_complete %} Yes {% else %} No {% endif %}</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}